@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');

header {
    display: flex;
    height: 15vh;
}

.logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    font-weight: bold;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 100%);
    color: #fff;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 100px;
    font-family: 'Rubik Bubbles', cursive;
    letter-spacing: 1px;
}

.logo:hover {
    box-shadow: 0 0.5rem 2rem #0c0c74;
    transition: 0.5s ease-in;
}

nav {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 7%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5em;
}

nav ul li {
    font-family: 'Hind Siliguri', sans-serif;
    color: rgb(107, 107, 107);
    padding-left: 2em;
    font-size: 17px;
    cursor: pointer;
}

nav ul li:hover {
    color: #0c0c74;
}

.demo {
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
    margin-right: 5%;
    background: #fff;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    color: #0c0c74;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.demo:hover {
    background: rgb(210, 210, 210);
}

@media (max-width: 768px) {
    .logo {
        margin-left: 2%;
    }

    .demo {
        display: flex;
        margin-left: 20%;
    }

    nav {
        display: none;
    }
}